@import '~antd/dist/antd.dark.css';
@import 'antd-css-utilities/utility.min.css';

body,
.App {
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
